body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.card-flex {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.card {
  width: 300px;
  background-color: steelblue;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
}